#Node/React Native/Expo/Web
node_modules/
npm-debug.log*
yarn-error.log
dist/
build/
.expo/
.expo-shared/
web-build/

#Android
android/.gradle/
android/app/build/
android/build/
*.apk
*.keystore

#iOS
ios/build/
ios/Pods/
*.xcuserstate
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.swp
*.lock

#General
.DS_Store
Thumbs.db
.env
*.log
*.tmp
*.bak

#Backend (PHP)
backend/uploads/
node-backend/uploads/